[data-route="close"] {
  padding: 10px;
}
[data-route="connection"] {
  padding: 10px;
}
[data-route="workspace"] {
  padding: 5px;
  font-size: 14px;
  background-color: #fff;
}
[data-route="workspace"] .btn[disabled] {
  opacity: .6;
}
[data-route="workspace"] .control-pad .form-control[disabled] {
  opacity: .4;
}
[data-route="workspace"] .middle-block {
    top: 100%;
    left: 0;
    z-index: 100;
}
[data-route="workspace"] .jog-controls {
    display: block;
}
[data-route="workspace"] .run-controls {
    display: none;
}
[data-route="workspace"] > * {
  margin-bottom: 5px;
}
[data-route="workspace"] > *:last-child {
  margin-bottom: 0;
}
[data-route="workspace"] .dropdown-menu>li>a .fa {
  width: 16px;
}
[data-route="workspace"] .axis-position .row {
  padding-bottom: 5px;
}
[data-route="workspace"] .nav-panel .container-fluid {
  padding-bottom: 12px;
}
[data-route="workspace"] .axis-position .container-fluid {
  background-color: azure;
  padding-top: 12px;
  padding-bottom: 12px;
}
[data-route="workspace"] .control-pad .container-fluid {
  background-color: lightyellow;
  padding-top: 12px;
  padding-bottom: 12px;
}
[data-route="workspace"] .nav-panel .btn {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
}
[data-route="workspace"] .nav-panel .row [class^="col-"],
[data-route="workspace"] .nav-panel .row [class*=" col-"] {
  padding-right: 5px;
}
[data-route="workspace"] .nav-panel .row [class^="col-"]:last-child,
[data-route="workspace"] .nav-panel .row [class*=" col-"]:last-child {
  padding-right: 0;
}
[data-route="workspace"] .active-state {
#  border: 1px solid #ccc;
#  border-radius: 4px;
#  background-color: #f6f686;
  padding: 5px 10px;
  text-align: center;
}
[data-route="workspace"] .pos-name {
  text-align: center;
}
[data-route="workspace"] .info-button {
  text-align: center;
  padding: 5px 10px;
}
[data-route="workspace"] .axis-label {
  text-align: center;
  font-size: 20px;
  padding: 0 8px;
}
[data-route="workspace"] .position {
  width: 95%;
  text-align: right;
}
[data-route="workspace"] .load {
  font-size: 12px;
  width: 99%;
  resize: none;
}
[data-route="workspace"] .fileslist {
    padding-top: 20px;
}
[data-route="workspace"] textarea {
  font-size: 12px;
  width: 99%;
  resize: none;
}
[data-route="workspace"] .axis-position .btn {
  width: 90%;
  text-align: center;
}

[data-route="workspace"] .btn-units {
   text-align: left;
}

[data-route="workspace"] .rotate-45deg {
  transform: rotate(45deg);
}
[data-route="workspace"] .rotate-45deg:before {
  transform: rotate(45deg);
}
[data-route="workspace"] .rotate--45deg {
  transform: rotate(-45deg);
}
[data-route="workspace"] .rotate--45deg:before {
  transform: rotate(-45deg);
}
[data-route="workspace"] .rotate-90deg {
  transform: rotate(90deg);
}
[data-route="workspace"] .rotate-90deg:before {
  transform: rotate(90deg);
}
[data-route="workspace"] .rotate--90deg {
  transform: rotate(-90deg);
}
[data-route="workspace"] .rotate--90deg:before {
  transform: rotate(-90deg);
}

[data-route="workspace"] .control-pad .row [class^="col-"],
[data-route="workspace"] .control-pad .row [class*=" col-"] {
  padding-right: 5px;
}
[data-route="workspace"] .control-pad .row [class^="col-"]:last-child,
[data-route="workspace"] .control-pad .row [class*=" col-"]:last-child {
  padding-right: 0;
}
[data-route="workspace"] .control-pad .row {
  padding-bottom: 5px;
}
[data-route="workspace"] .control-pad .row:last-child {
  padding-bottom: 5px;
}
[data-route="workspace"] .control-pad .btn {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
[data-route="workspace"] .axis-position .inset {
  padding-left: 15px;
}

[data-route="workspace"] .mdi .container-fluid {
  background-color: lavenderblush;
  padding-top: 12px;
  padding-bottom: 0px;
}

@media (min-width: 736px) {
  [data-route="workspace"] {
    font-size: 14px;
  }
  [data-route="workspace"] .dropdown-menu {
    min-width: 180px;
  }
  [data-route="workspace"] .dropdown-menu>li>a .fa {
    width: 14px;
  }
  [data-route="workspace"] .axis-label {
    font-size: 24px;
    text-align: center;
  }
  [data-route="workspace"] .dropdown-menu {
    font-size: 14px;
  }
  [data-route="workspace"] .btn,
  [data-route="workspace"] .form-control {
    font-size: 14px;
    height: 30px;
  }
  [data-route="workspace"] #jog-distance {
    text-align-last: right;
  }
  [data-route="workspace"] textarea {
    font-size: 9px;
  }
  [data-route="workspace"] #small-toolpath {
      width: 180px;
      height: 100px;
  }
}

@media (min-width: 768px) {
  [data-route="workspace"] {
    font-size: 15px;
  }
  [data-route="workspace"] .dropdown-menu {
    min-width: 180px;
  }
  [data-route="workspace"] .dropdown-menu>li>a .fa {
    width: 15px;
  }
  [data-route="workspace"] .axis-label {
    font-size: 24px;
    text-align: center;
  }
  [data-route="workspace"] .dropdown-menu {
    font-size: 15px;
  }
  [data-route="workspace"] .btn,
  [data-route="workspace"] .form-control {
    font-size: 15px;
    height: 30px;
  }
  [data-route="workspace"] #jog-distance {
    text-align-last: right;
  }
  [data-route="workspace"] textarea {
    font-size: 11px;
  }
  [data-route="workspace"] #small-toolpath {
      width: 230px;
      height: 130px;
  }
}
@media (min-width: 992px) {
  [data-route="workspace"] {
    font-size: 20px;
  }
  [data-route="workspace"] .dropdown-menu {
    min-width: 200px;
  }
  [data-route="workspace"] .dropdown-menu>li>a .fa {
    width: 20px;
  }
  [data-route="workspace"] .axis-label {
    font-size: 28px;
    text-align: center;
  }
  [data-route="workspace"] .dropdown-menu {
    font-size: 20px;
  }
  [data-route="workspace"] .btn,
  [data-route="workspace"] .form-control {
    font-size: 20px;
    height: 40px;
  }
  [data-route="workspace"] textarea {
    font-size: 12px;
  }
  [data-route="workspace"] #small-toolpath {
      width: 250px;
      height: 130px;
  }
}
@media (min-width: 1200px) {
  [data-route="workspace"] {
    font-size: 28px;
  }
  [data-route="workspace"] .dropdown-menu {
    min-width: 220px;
  }
  [data-route="workspace"] .dropdown-menu>li>a .fa {
    width: 28px;
  }
  [data-route="workspace"] .axis-label {
    font-size: 32px;
    text-align: center;
  }
  [data-route="workspace"] .dropdown-menu {
    font-size: 28px;
  }
  [data-route="workspace"] .btn,
  [data-route="workspace"] .form-control {
    font-size: 28px;
    height: 52px;
  }
  [data-route="workspace"] textarea {
    font-size: 14px;
  }
  [data-route="workspace"] #small-toolpath {
      width: 300px;
      height: 160px;
  }
}
